<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> Galaxies du Groupe Local </title>
        <style>
            table
            {
                border-collapse: collapse;
            }
            td, th /* Mettre une bordure sur les td ET les th */
            {
                border: 1px solid black;
            }
        </style>
    </head>
    
    <body>
        <table>
            <caption>Galaxies du Groupe Local</caption>
         
            <thead> <!-- En-tête du tableau -->
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Ascension droite</th>
                    <th>Déclinaison</th>
                    <th>Distance (A.L.)</th>
                    <th>Rayon (A.L.)</th>
                    <th>Magnitude absolue</th>
                </tr>
            </thead>
         
            <tfoot> <!-- Pied de tableau -->
                <tr>
                    <th>Nom</th>
                    <th>Type</th>
                    <th>Ascension droite</th>
                    <th>Déclinaison</th>
                    <th>Distance (A.L.)</th>
                    <th>Rayon (A.L.)</th>
                    <th>Magnitude absolue</th>
                </tr>
            </tfoot>
         
            <tbody> <!-- Corps du tableau -->
                
                <tr>
                    <td>Milky</td>
                    <td>SBc</td>
                    <td>17.760278</td>
                    <td>-28.936111</td>
                    <td>27720.0</td>
                    <td>50000.0</td>
                    <td>-20.6</td>
                </tr>
            <tr>
                    <td>WLM  -----  DDO</td>
                    <td>Irr</td>
                    <td>0.0328</td>
                    <td>-15.4611</td>
                    <td>3001000.0</td>
                    <td>4208.0</td>
                    <td>-13.95</td>
                </tr>
            <tr>
                    <td>Sculptor</td>
                    <td>E0</td>
                    <td>1.0025</td>
                    <td>-33.7092</td>
                    <td>293600.0</td>
                    <td>1451.0</td>
                    <td>-9.77</td>
                </tr>
            <tr>
                    <td>ESO</td>
                    <td>Irr</td>
                    <td>23.8672</td>
                    <td>-52.5775</td>
                    <td>20870000.0</td>
                    <td>4795.0</td>
                    <td>-14.09</td>
                </tr>
            <tr>
                    <td>Sc</td>
                    <td>S0</td>
                    <td>0.3975</td>
                    <td>-24.705</td>
                    <td>13730000.0</td>
                    <td>1729.0</td>
                    <td>-10.45</td>
                </tr>
            <tr>
                    <td>Cetus</td>
                    <td>E4</td>
                    <td>0.4364</td>
                    <td>-11.0444</td>
                    <td>2544000.0</td>
                    <td>1843.0</td>
                    <td>-10.18</td>
                </tr>
            <tr>
                    <td>UGC</td>
                    <td>Irr</td>
                    <td>20.5042</td>
                    <td>60.4403</td>
                    <td>19240000.0</td>
                    <td>5626.0</td>
                    <td>-14.28</td>
                </tr>
            <tr>
                    <td>And</td>
                    <td>E3</td>
                    <td>23.8628</td>
                    <td>24.5861</td>
                    <td>2675000.0</td>
                    <td>1435.0</td>
                    <td>-10.8</td>
                </tr>
            <tr>
                    <td>KDG</td>
                    <td>Irr</td>
                    <td>10.8819</td>
                    <td>69.5458</td>
                    <td>12070000.0</td>
                    <td>1027.0</td>
                    <td>-10.83</td>
                </tr>
            <tr>
                    <td>DDO</td>
                    <td>Irr</td>
                    <td>14.59</td>
                    <td>57.2567</td>
                    <td>26090000.0</td>
                    <td>5284.0</td>
                    <td>-15.05</td>
                </tr>
            <tr>
                    <td>SMC</td>
                    <td>Irr</td>
                    <td>0.8772</td>
                    <td>-72.8003</td>
                    <td>195700.0</td>
                    <td>8611.0</td>
                    <td>-16.35</td>
                </tr>
            <tr>
                    <td>LGS</td>
                    <td>Irr</td>
                    <td>1.0656</td>
                    <td>21.8947</td>
                    <td>2022000.0</td>
                    <td>326.2</td>
                    <td>-7.96</td>
                </tr>
            <tr>
                    <td>KKH</td>
                    <td>Irr</td>
                    <td>23.7594</td>
                    <td>38.7178</td>
                    <td>7991000.0</td>
                    <td>1272.0</td>
                    <td>-10.78</td>
                </tr>
            <tr>
                    <td>KK</td>
                    <td>S0</td>
                    <td>22.6786</td>
                    <td>-30.7997</td>
                    <td>12720000.0</td>
                    <td>2609.0</td>
                    <td>-10.66</td>
                </tr>
            <tr>
                    <td>Phoenix</td>
                    <td>Irr</td>
                    <td>1.8517</td>
                    <td>-44.4447</td>
                    <td>1435000.0</td>
                    <td>962.2</td>
                    <td>-10.22</td>
                </tr>
            <tr>
                    <td>Cas</td>
                    <td>Irr</td>
                    <td>2.1019</td>
                    <td>69.01</td>
                    <td>10760000.0</td>
                    <td>8138.0</td>
                    <td>-16.7</td>
                </tr>
            <tr>
                    <td>KKs</td>
                    <td>S0</td>
                    <td>13.7667</td>
                    <td>-36.3289</td>
                    <td>11740000.0</td>
                    <td>1680.0</td>
                    <td>-10.64</td>
                </tr>
            <tr>
                    <td>MB</td>
                    <td>Irr</td>
                    <td>2.9286</td>
                    <td>58.8617</td>
                    <td>9785000.0</td>
                    <td>5806.0</td>
                    <td>-13.65</td>
                </tr>
            <tr>
                    <td>Maffei</td>
                    <td>Sc</td>
                    <td>2.6983</td>
                    <td>59.6031</td>
                    <td>9133000.0</td>
                    <td>19500.0</td>
                    <td>-20.15</td>
                </tr>
            <tr>
                    <td>Fornax</td>
                    <td>E4</td>
                    <td>2.665</td>
                    <td>-34.5258</td>
                    <td>456600.0</td>
                    <td>1908.0</td>
                    <td>-11.5</td>
                </tr>
            <tr>
                    <td>Dw</td>
                    <td>Sb</td>
                    <td>2.9489</td>
                    <td>58.9117</td>
                    <td>9133000.0</td>
                    <td>9067.0</td>
                    <td>-18.78</td>
                </tr>
            <tr>
                    <td>UGCA</td>
                    <td>Sc</td>
                    <td>23.7294</td>
                    <td>-31.9592</td>
                    <td>13930000.0</td>
                    <td>8872.0</td>
                    <td>-14.64</td>
                </tr>
            <tr>
                    <td>Cam</td>
                    <td>Irr</td>
                    <td>4.885</td>
                    <td>67.0992</td>
                    <td>10890000.0</td>
                    <td>3686.0</td>
                    <td>-11.85</td>
                </tr>
            <tr>
                    <td>LMC</td>
                    <td>Irr</td>
                    <td>5.3928</td>
                    <td>-69.7561</td>
                    <td>163100.0</td>
                    <td>15900.0</td>
                    <td>-17.93</td>
                </tr>
            <tr>
                    <td>Orion</td>
                    <td>Sc</td>
                    <td>5.7506</td>
                    <td>5.0683</td>
                    <td>20870000.0</td>
                    <td>10090.0</td>
                    <td>-17.04</td>
                </tr>
            <tr>
                    <td>A</td>
                    <td>Irr</td>
                    <td>9.9581</td>
                    <td>69.2722</td>
                    <td>12620000.0</td>
                    <td>3490.0</td>
                    <td>-11.51</td>
                </tr>
            <tr>
                    <td>Carina</td>
                    <td>E3</td>
                    <td>6.6933</td>
                    <td>-50.9661</td>
                    <td>326200.0</td>
                    <td>1125.0</td>
                    <td>-8.97</td>
                </tr>
            <tr>
                    <td>KKSG</td>
                    <td>S0</td>
                    <td>12.6883</td>
                    <td>-11.9275</td>
                    <td>30330000.0</td>
                    <td>3604.0</td>
                    <td>-12.07</td>
                </tr>
            <tr>
                    <td>HIZSS</td>
                    <td>Irr</td>
                    <td>7.0081</td>
                    <td>-4.2083</td>
                    <td>4566000.0</td>
                    <td>3017.0</td>
                    <td>-12.19</td>
                </tr>
            <tr>
                    <td>FG</td>
                    <td>Irr</td>
                    <td>7.0881</td>
                    <td>-58.5206</td>
                    <td>15980000.0</td>
                    <td>7551.0</td>
                    <td>-14.01</td>
                </tr>
            <tr>
                    <td>Ho</td>
                    <td>Irr</td>
                    <td>9.9589</td>
                    <td>69.0431</td>
                    <td>12070000.0</td>
                    <td>4517.0</td>
                    <td>-13.68</td>
                </tr>
            <tr>
                    <td>F</td>
                    <td>S0</td>
                    <td>9.7472</td>
                    <td>67.4756</td>
                    <td>12300000.0</td>
                    <td>4208.0</td>
                    <td>-12.59</td>
                </tr>
            <tr>
                    <td>FM</td>
                    <td>S0</td>
                    <td>9.7528</td>
                    <td>68.765</td>
                    <td>11150000.0</td>
                    <td>1517.0</td>
                    <td>-10.48</td>
                </tr>
            <tr>
                    <td>BK</td>
                    <td>S0</td>
                    <td>10.5753</td>
                    <td>66.0117</td>
                    <td>12560000.0</td>
                    <td>1859.0</td>
                    <td>-11.08</td>
                </tr>
            <tr>
                    <td>Leo</td>
                    <td>E0</td>
                    <td>11.2247</td>
                    <td>22.1547</td>
                    <td>685000.0</td>
                    <td>1191.0</td>
                    <td>-9.23</td>
                </tr>
            <tr>
                    <td>Sextans</td>
                    <td>E4</td>
                    <td>10.2175</td>
                    <td>-1.6144</td>
                    <td>293600.0</td>
                    <td>1109.0</td>
                    <td>-7.98</td>
                </tr>
            <tr>
                    <td>Antlia</td>
                    <td>E3</td>
                    <td>10.0678</td>
                    <td>-27.3319</td>
                    <td>4305000.0</td>
                    <td>1272.0</td>
                    <td>-9.75</td>
                </tr>
            <tr>
                    <td>IKN</td>
                    <td>S0</td>
                    <td>10.1347</td>
                    <td>68.3992</td>
                    <td>12070000.0</td>
                    <td>5202.0</td>
                    <td>-11.44</td>
                </tr>
            <tr>
                    <td>HS</td>
                    <td>Irr</td>
                    <td>10.3569</td>
                    <td>71.1161</td>
                    <td>12070000.0</td>
                    <td>2626.0</td>
                    <td>-11.83</td>
                </tr>
            <tr>
                    <td>LeG</td>
                    <td>Irr</td>
                    <td>11.0506</td>
                    <td>8.0483</td>
                    <td>33920000.0</td>
                    <td>2658.0</td>
                    <td>-12.15</td>
                </tr>
            <tr>
                    <td>FS</td>
                    <td>Irr</td>
                    <td>10.8269</td>
                    <td>11.3517</td>
                    <td>33920000.0</td>
                    <td>2805.0</td>
                    <td>-12.22</td>
                </tr>
            <tr>
                    <td>PGC</td>
                    <td>Irr</td>
                    <td>14.4675</td>
                    <td>-46.3017</td>
                    <td>11680000.0</td>
                    <td>3767.0</td>
                    <td>-11.83</td>
                </tr>
            <tr>
                    <td>CGCG</td>
                    <td>Irr</td>
                    <td>11.0739</td>
                    <td>11.755</td>
                    <td>33920000.0</td>
                    <td>5463.0</td>
                    <td>-14.45</td>
                </tr>
            <tr>
                    <td>BTS</td>
                    <td>Irr</td>
                    <td>11.9789</td>
                    <td>27.585</td>
                    <td>20550000.0</td>
                    <td>831.7</td>
                    <td>-12.6</td>
                </tr>
            <tr>
                    <td>MCG</td>
                    <td>Irr</td>
                    <td>12.2628</td>
                    <td>52.3875</td>
                    <td>11090000.0</td>
                    <td>1549.0</td>
                    <td>-12.46</td>
                </tr>
            <tr>
                    <td>Arp</td>
                    <td>Irr</td>
                    <td>12.6225</td>
                    <td>38.7453</td>
                    <td>21850000.0</td>
                    <td>2022.0</td>
                    <td>-13.47</td>
                </tr>
            <tr>
                    <td>HIPASSJ</td>
                    <td>Irr</td>
                    <td>13.8561</td>
                    <td>-47.0</td>
                    <td>11740000.0</td>
                    <td>880.7</td>
                    <td>-10.9</td>
                </tr>
            <tr>
                    <td>R</td>
                    <td>Irr</td>
                    <td>12.9778</td>
                    <td>14.2175</td>
                    <td>6850000.0</td>
                    <td>1093.0</td>
                    <td>-12.11</td>
                </tr>
            <tr>
                    <td>DEEPJ</td>
                    <td>Irr</td>
                    <td>13.6167</td>
                    <td>-33.3631</td>
                    <td>14710000.0</td>
                    <td>440.3</td>
                    <td>-11.18</td>
                </tr>
            <tr>
                    <td>Cen</td>
                    <td>S0</td>
                    <td>13.8025</td>
                    <td>-47.565</td>
                    <td>11740000.0</td>
                    <td>1663.0</td>
                    <td>-10.89</td>
                </tr>
            <tr>
                    <td>Circinus  -----  ESO</td>
                    <td>Sb</td>
                    <td>14.2192</td>
                    <td>-65.3392</td>
                    <td>9133000.0</td>
                    <td>18490.0</td>
                    <td>-19.9</td>
                </tr>
            <tr>
                    <td>UrsaMinor</td>
                    <td>E5</td>
                    <td>15.1531</td>
                    <td>67.2144</td>
                    <td>195700.0</td>
                    <td>799.1</td>
                    <td>-7.13</td>
                </tr>
            <tr>
                    <td>KKR</td>
                    <td>Irr</td>
                    <td>21.0981</td>
                    <td>57.2053</td>
                    <td>19240000.0</td>
                    <td>4697.0</td>
                    <td>-15.42</td>
                </tr>
            <tr>
                    <td>Draco</td>
                    <td>E3</td>
                    <td>17.3336</td>
                    <td>57.9094</td>
                    <td>260900.0</td>
                    <td>1288.0</td>
                    <td>-8.74</td>
                </tr>
            <tr>
                    <td>Sagittarius</td>
                    <td>Irr</td>
                    <td>19.4997</td>
                    <td>-17.6781</td>
                    <td>3392000.0</td>
                    <td>1500.0</td>
                    <td>-11.49</td>
                </tr>
            <tr>
                    <td>Aquarius</td>
                    <td>Irr</td>
                    <td>20.7808</td>
                    <td>-12.8481</td>
                    <td>3066000.0</td>
                    <td>897.0</td>
                    <td>-11.09</td>
                </tr>
            <tr>
                    <td>Cepheus</td>
                    <td>Irr</td>
                    <td>20.8525</td>
                    <td>56.89</td>
                    <td>19240000.0</td>
                    <td>16930.0</td>
                    <td>-17.53</td>
                </tr>
            <tr>
                    <td>Tucana</td>
                    <td>E5</td>
                    <td>22.6969</td>
                    <td>-64.42</td>
                    <td>2870000.0</td>
                    <td>1044.0</td>
                    <td>-9.16</td>
                </tr>
            <tr>
                    <td>Pegasus</td>
                    <td>Irr</td>
                    <td>23.4761</td>
                    <td>14.7467</td>
                    <td>2479000.0</td>
                    <td>1696.0</td>
                    <td>-11.47</td>
                </tr>

                
            </tbody>
         </table>
    </body>

</html>