/* élément de la banière */

header.ban{
    color: rgb(236, 199, 32);
    padding: none;
    height: 210px;
    margin: -10px;
    margin-bottom: 0px;
    display: inline-block;
    display: flex;
    background-color: #024b55;
}
div.logo{
    margin-top: 5px;
    margin-left: 23%;
    height: 145px;
    /* width: 150px; */
}
div.nomduprojet h1{
    margin-top: 25px;
    margin-left: 20px;
    font-weight: 5px;
    font-size: 115px;
}


div.ligne{
    height: 5px;
    background-color: #fbaf00;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px 0px 10px 0px;
}

/* affichge titre principal */
h1.titre{
    color: #024b55;
    text-align: center;
    font-size: 50px;
}

/* affichage titre des parties */
h2.titre{
    margin-top: 25px;
    background-color: #024b55;
    color: whitesmoke;
    font-size: 27px;
    padding-top: 10px;
    height: 40px;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px 15px 0 0;
}

/* partie d'introduction */
div.intro{
    background-color: whitesmoke;
    margin-top: -25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}

div.intro p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    padding: 5px;
    font-size: 20px;
}
div.intro li{
    text-align: center;
}
div.intro li a{
    text-decoration: none;
    font-size: 18px;
}

div.intro a.lien{
    text-decoration: none;
    color: white;
    background-color: rgb(228, 0, 0);
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/* partie de developpement avec paradigme */
h2.tip{
    background-color: whitesmoke; 
    margin-top: -25px;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
div.tip{
    background-color: whitesmoke;
    margin-top: -25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

div.inter-titre{
    background-color: whitesmoke;
    margin: 25px;
    margin-bottom: 50px;
}

div.inter-titre p.reference{
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px;
}

/* partie fonctionalités */
div.fontionalite p{
    background-color: whitesmoke;
    height: 100px;
    margin-top: -25px;
    margin-left: 25px;
    margin-right: 25px;
}


/* bas de page */
div.fonctionalites{
    background-color: whitesmoke;
    margin-top: -25px;
    margin-left: 25px;
    margin-right: 25px;
}

div.fonctionalites p{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
    padding: 5px;
    font-size: 20px;
}

p.accroche u{
    padding: 10px;
    font-size: 25px;
}
div.fonctionalites p{
    font-size: 22px;
}


body{
    background-color: #272727;
}

div.lignefinale{
    margin-top: 50px;
    height: 5px;
    background-color: #fbaf00;
    margin-left: -10px;
    margin-right: -10px;
    box-shadow: 0px 0px 10px 0px;
}

/* mise en page lien vers rapport sur page d'accueil */

div.lien{
    height: 50px;
    font-size: 40px;
    text-align: center;
    background-color: rgb(221, 0, 0);
    margin: 50px;
    border: 20px;
    border-radius: 10px;
}
div.lien a{
    color: white;
    text-decoration: none;
}

div.whiteBG{
    background-color: whitesmoke;
    margin-top: -25px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: -50px;
}

img.paradigme{
    display: block;
    margin-bottom: 50px;
    height: auto;
    width: 100%;
}

p{
    margin: 0%;
}